In [ ]:
#importing dependencies
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import svm

#Data Collection and Analysis

In [ ]:
#loadim the dataset diabetes to pandas dataframe
diabetes_dataset=pd.read_csv('/content/diabetes.csv')

In [ ]:
pd.read_csv?

In [ ]:
#first 5 rows of the dataset
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#number of rows an columns in the dataframe
diabetes_dataset.shape

(768, 9)

In [ ]:
#statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [15]:
1#seperating labels and data
X = diabetes_dataset.drop(columns= 'Outcome' , axis=1)
Y = diabetes_dataset['Outcome']

In [16]:
print (X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [17]:
print (Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#Data Standardization

In [18]:
scaler= StandardScaler()

In [19]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [23]:
standardized_data=scaler.transform(X)

In [24]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [25]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [26]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#train test split

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2, stratify=Y , random_state=2)

In [29]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the Model

In [30]:
classifier=svm.SVC(kernel='linear')

In [31]:
#training the support Vector Machine Classifier
classifier.fit(X_train,Y_train
               )

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Evaluating our model i.e Finding Accuracy Score

the code below will basically predict the label on the x_train

In [32]:
X_train_prediction=classifier.predict(X_train)

In [33]:
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [35]:
print('Accuracy scoreof the training data :' ,training_data_accuracy)

Accuracy scoreof the training data : 0.7866449511400652

In [36]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [37]:
print('Accuracy scoreof the test data :' ,test_data_accuracy)

Accuracy scoreof the test data : 0.7727272727272727

#Making a Predictive System

In [45]:
input_data =(10,115,0,0,0,35.3,0.134,29)

#change the input data to numpy arrays

input_data_as_numpy_array=np.asarray(input_data)
#reshape the array as we are predicting for one instance

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#standardize the input data

std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction=classifier.predict(std_data)

print(prediction)

if(prediction[0] ==0):
  print('The Person is not Diabetic')
else:
     print('The person is Diabetic')

[[ 1.82781311 -0.184482   -3.57259724 -1.28821221 -0.69289057  0.41977549
  -1.02042653 -0.36084741]]
[1]
The person is Diabetic